.not_service {
   width: 778px;
   height: 644px;
   background-image: url(../../img/Javabugs/bg.png);
   background-repeat: repeat;
   background-color: #DA8D95;
   margin-right: auto;
   margin-left: auto;
   position: relative;
}
#apDiv1 {
   position:absolute;
   left:154px;
   top:156px;
   width:490px;
   height:355px;
   
   background-image: url(../../img/Javabugs/no_service.gif);
   background-repeat: no-repeat;
   clear: both;
}