.not_service {
	width: 778px;
	height: 644px;
	background-repeat: repeat;
	
	background-image: url(../../img/Javabugs/bg.png);
	margin-right: auto;
	margin-left: auto;
	position: relative;
	
}
#apDiv1 {
	position:absolute;
	left:154px;
	top:156px;
	width:490px;
	
	background-image: url(../../img/Javabugs/already.jpg);
	height: 355px;
	background-repeat: no-repeat;
	clear: both;
}