body
{
	background-color: #FFFFFF;
	color: #333333;
	font-family: "∏º¿∫∞ÌµÒ", "Verdana";
	font-size:10pt;
	line-height:150%;
	margin-right: 20px;
	margin-left: 20px;
}

table
{
	color: #333333;
	font-family: "∏º¿∫∞ÌµÒ", "Verdana";
	font-size:10pt;
	line-height:150%;
}

/* Black ≈ÿΩ∫∆Æ Hyperlink Style */
A:link { font-size:11pt; font-family:∏º¿∫∞ÌµÒ;color:#565656; text-decoration:none; }
A:visited { font-size:11pt; font-family:∏º¿∫∞ÌµÒ;color:#565656; text-decoration:none;  }
A:active { font-size:11pt; font-family:∏º¿∫∞ÌµÒ;color:#FF6000; text-decoration:none; }
A:hover { font-size:11pt; font-family:∏º¿∫∞ÌµÒ;color:#FF6000;text-decoration:none; }
