.wrap {
	positionn:absolute;
	height: 1000px;
	width: 1000px;
	left: 50%;
	float: left;
	margin-bottom: 5px;
	margin-left: 250px;
	margin-right: 250px;
}
.header1 {
	positionn:absolute;
	height: 150px;
	width: 990px;
	background-color: #C93;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.header2 {
	positionn:absolute;
	height: 100px;
	width: 990px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #FFF;
	font-family: "¸¼Àº °íµñ";
	color: #000;
}
.left {
	positionn:absolute;
	float: left;
	height: 650px;
	width: 200px;
	margin-bottom: 5px;
	margin-left: 5px;
	background-color: #FFF;
}
.center {
	positionn:absolute;
	height: 648px;
	width: 778px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: right;
	margin-left: 5px;
	border:1px solid;
}
.footer {
	positionn:absolute;
	height: 70px;
	width: 990px;
	clear: left;
	background-color: #FCC;
	margin-top:5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.bold .wrap .left table tr td {
	font-size: 16px;
	font-family: "¸¼Àº °íµñ";
}
body,td,th {
	font-family: "¸¼Àº°íµñ", Verdana;
}
.bold .wrap .bottom {
	font-family: ¸¼Àº °íµñ;
}